<div style="width: 100%; height: 80vh;"
  data-controller="map-route"
  data-map-route-markers-value="<%= @markers.to_json %>"
  data-map-route-starting-value="<%= @starting_point %>"
  data-map-route-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
