.grey-box {
  background-color: #d9d9d98a;;
  margin: 2vh 1vh;
  text-align: center;
  padding: 25px 15px 7px 15px;
  line-height: 3vh;
}

.text-justify {
  text-align: justify;
}

.map {
  margin: 2% 2%;
  text-align: justify;
}

.name {
  text-transform: uppercase;
}

.place-caracteristiques {
  font-size: 17px;
}

// .justify-content-around {
//   text-align: center;
//   text-align: justify;
// }

.details {
  margin-top: 20px;
}

.place-caracteristiques {
  left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.place {
  color: #6BC3BE;
}

.icons-box {
margin-top: 20px;
}
