<div class="container"></div>
<div class="container_chocolat"></div>

<h2>Mes Secret Spots</h2>
<%# <h6>À venir</h6>
<h6 class ="passés"> Passés</h6> %>
<% @my_secrets.each do |secret| %>
  <%= link_to secret_spots_path, class: "travel-card" do %>
    <div class="rectangle">

        <% secret.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
          <% break %>
        <% end %>
        <%# <img src="https://images.partir.com/g6_T5RzFIxc2VZcftQeoyIw8sgg=/750x/filters:sharpen(0.3,0.3,true)/incontournables/italie-milan-duomo.jpg" alt="Image 1"> %>
        <%# <%= cl_image_tag travel.place.first.photo.key, height: 350, width: 450, crop: :fill %> %>
          <div>
            <h2>Paris</h2>
            <%= secret.description.first(75).. %>
          </div>
      </div>
  <% end %>
<% end %>
