<div class="container"></div>
<div class="container_chocolat"></div>

<h2>Mes Secret Spots</h2>
<%# <h6>À venir</h6>
<h6 class ="passés"> Passés</h6> %>
<% @my_secrets.each do |secret| %>
  <%= link_to secret_spots_path, class: "travel-card" do %>
    <div class="rectangle">

        <% secret.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 350, width: 450, crop: :fill %>
          <% break %>
        <% end %>
          <div>
            <h2><%= secret.name %></h2>
            <%= secret.description.first(75).. %>
          </div>
      </div>
  <% end %>
<% end %>
