.tag {
  height: 30px;
  width: 200px;
  border-radius: 50px;
  color: white;
  background-color: blue;
  text-align: center;
}

.tag:active {
  height: 30px;
  width: 200px;
  border-radius: 50px;
  color: blue;
  background-color: white;
  text-align: center;
}

// .input[type=checkbox]:checked ~ .tag:checked {
//   border: solid;
// }
