.button-connexion {
  background-color: #59BCB6;
  border-radius: 6px;
  width: 349px;
  height: 61px;
  display: flex;
  justify-content: center;
  color: white;
}

.signin {
  background-color: #59BCB6;
  text-align: center;
}

.logo-signin {
  border-radius: 25px;
  justify-content: center;
}

.button-back {
  background-color: #59BCB6;
  border-radius: 6px;
  width: 20vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  line-height: 20px;
  padding: 10px 16px;
  text-align: center;
  margin-top: 2vh;
}

#buttons {
  text-align: center;
}
