.button-connexion {
  background-color: #59BCB6;
  border-radius: 6px;
  width: 349px;
  height: 61px;
  display: flex;
  justify-content: center;
  color: white;
}

.signin {
  background-color: #59BCB6;
  text-align: center;
}
