#carouselExampleIndicators {
  height: 350px;
  margin-top: 20px;
  padding: 0 2%;
  margin-bottom: 3vh;
}

/* Style the carousel indicators */
.carousel-indicators li {
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.carousel-indicators .active {
  background-color: #888;
}

/* Style the carousel images */
.carousel-item {
  height: 400px;
}

.carousel-item img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4%;
}

/* Style the carousel controls */
.carousel-control-prev, .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 30px;
  margin-top: 40%;
  width: 30px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 70%;
  width: 70%;
}

.carousel-control-prev {
  left: 5vw;
}

.carousel-control-next {
  right: 5vw;
}
