.containersecretspot {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  color: #59bcb6;
}

.form-inputs {
  margin-bottom: 15px;
  width: 100%;
}


.form-inputs label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-inputs input[type="text"],
.form-inputs textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


// .form-inputs input[type="text"],
// .form-inputs textarea:active {
//   border: 1px solid #59bcb6;
//   border-radius: 4px;
// }



.titre {
  text-align: center;
}

.form-actions {
  width: 100%;
  height: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #59bcb6;
}

.accessible {
  display: flex;
  justify-content: space-between;
}

.accessibleby,
.accessibleuntil {
  width: 45%;
}

.w-45 {
  width: 45% !important;
}

@media screen and (max-width: 600px) {
  .form-inputs {
    width: 100%;
  }

  .accessibleby,
  .accessibleuntil {
    width: 100%;
  }
}
