.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.line-navbar {
  border: 2px solid #59BCB6;
  margin-top: -1vh;
  width: 100%;
}

.fa-messages, fa-house {
  color: #59BCB6;
}

.nav-icon {
  color: #59BCB6;
  font-size: 20px;
  padding: 10px;
}

.navbar-nav li {
  display: flex;
  justify-content: left;
}

.navbar-toggler {
  color: #59BCB6;
  border: 0px solid;
}

.fa-chevron-left {
  color: black;
  font-size: 23px;
  font-weight: 200;
}

.avatar {
  margin-left: 5px;
}
