.containersecretspot {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  color: #59bcb6;
}

.form-inputs {
  margin-bottom: 15px;
  width: 100%;
}

.form-inputs label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-inputs input[type="text"],
.form-inputs textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titre {
  text-align: center;
}

.form-actions {
  width: 100%;
  height: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #59bcb6;
  color: white;
  border: none;
}


.accessible
{
  display: flex;
  justify-content: space-between;
}

.accessibleby
{
  width: 45%;
}

.accessibleuntil
{
  width: 45%;

}
.w-45 {
  width: 45% !important;
}

h2 {
  color: #59bcb6;
  margin-top: -6px;
  font-size: 20px;
  text-align: left;
  margin-left: 0px;
  margin-bottom: 6px;
}

.rectangle {
  margin-bottom: 19px;

  img{
    margin-right: 18px;
  }
}

.titresecret {
  color: #59bcb6;
  margin-top: 89px;
  text-align: center;
  font-size: 30px;
}

.att-validation {
  font-size: 30px;
  font-weight: bolder;
  color: #3e3c3c;
}
