.btn-voyage {
  text-decoration: none;
  background-color: #59BCB6;
  width: 50vw;
  height: 47px;
  display: inline-block;
  border-radius: 8px;
  color: white;
  border: none;
  margin: 7px 8px;
  // margin-left: 10px;
  // margin-top: 6px;
  // margin-bottom: 8px;
  text-align: center;
  padding-top: 12px;
}

.btn-histo {
  text-decoration: none;
  background-color: rgba(89, 188, 182, 0.30) ;
  width: 50vw;
  height: 47px;
  display: inline-block;
  border-radius: 8px;
  color: white;
  border: none;
  margin: 7px 8px;
  // margin-right: 10px;
  // margin-top: 6px;
  // margin-bottom: 8px;
  text-align: center;
  padding-top: 12px;
}

h2 {
  margin-left: 10px;
  margin-top: 20px;
}

h6 {
  margin-left: 10px;
  display: inline-block;
}

.passés {
 color: #979797;
}

.rectangle {
  display: flex;
  align-items: center;
  width: 95vw;
  height: 150px;
  background-color: rgba(217, 217, 217, 0.30);
  margin: 10px auto;
  padding: 10px;
  border-radius: 3px;
}

.rectangle-foncé {
  display: flex;
  align-items: center;
  width: 95vw;
  height: 150px;
  background-color: rgba(66, 65, 65, 0.3);
  margin: 10px auto;
  padding: 10px;
  border-radius: 3px;
}

.rectangle img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.travel-card {
  text-decoration: none;
  color: black;
}

.d-flex {
  margin-bottom: 20px;
}
