h1 {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.rectangle-btn1 {
  display: inline-block;
  width: 25px;
  height: 0px;
  background-color: #59BCB6;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 3px;
}

.rectangle-btn2 {
  display: inline-block;
  width: 32px;
  height: 0px;
  background-color: #59BCB666;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 3px;
}

.rectangle-btn3 {
  display: inline-block;
  width: 32px;
  height: 0px;
  background-color: #59BCB62E;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 3px;
}

.carrousel-blue {
  display: flex;
  justify-content: center;
}

.rectangle-faux {
  display: flex;
  align-items: center;
  width: 358px;
  height: 150px;
  background-color: rgba(217, 217, 217, 0.30);
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 3px;
  margin-top: 20px;
}

.img-rec {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.map-img {
  margin-left: 90px;
}
