<div class="navbar-down">
      <ul class="navbar-down d-flex justify-content">
           <li class="nav-item active">
            <i class="fa-solid fa-user" class="icon"></i>
            <br>
                <p class="navbar-titre">Mon profil</p>
          </li>
          <div class="vl"></div>
          <li class="nav-item active">
            <i class="fa-solid fa-plus" class="icon"></i>
            <br>
                <p class="navbar-titre">Nouveau <br> Voyage</p>
          </li>
          <div class="vl"></div>
          <li class="nav-item">
            <%# <%= link_to dashboard_path do %>
              <i class="fa-solid fa-user-secret" class="icon"></i>
              <br>
              <p class="navbar-titre">Ajouter <br>un secret spot</p>
            <%# <% end %>
          </li>
      </ul>
  </div>
